// blue background color #78AADA, #587CBE

.about-wrapper {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 100vh;
    z-index: 2;

    .about-hero-section {
        background: #AFD2CB;
        background-size: 100% 100%;
        height: 100vh;
        position: relative;
        
        #dt-profile-pic {
            position: absolute;
            top: 19vh;
            left: 11vw;
            width: 22vw;
            z-index: 0;
        }
        
        .dt-profile-p-wrapper {
            z-index: 2;
            position: absolute;
            top: 25vh;
            width: 39vw;
            left: 54vw;
            font-size: 1.5vw;
            
            #dt-name-head {
                position: absolute;
                font-size: 4vw;
                top: -13vh;
                font-family: 'opensans_bold';
                left: 0;
            }
            
            #dt-name-name {
                position: absolute;
                font-family: 'opensans_light';
                font-size: 2vw;
                top: -8vh;
                left: 8vw;
            }
            
            #dt-about-body {
                color: #333;
                position: absolute;
                font-family: 'opensans_light';
                top: 0vw;
                left: 0;
            }
            #dt-about-body2 {
                color: #333;
                font-family: 'opensans_light';
                position: absolute;
                top: 6vw;
                left: 0;
            }
            #dt-about-body3 {
                color: #333;
                font-family: 'opensans_light';
                position: absolute;
                top: 12vw;
                left: 0;
            }
            img#dt-linkedin-about {
                position: absolute;
                height: 8vh;
                left: 0;
                bottom: -47vh;
            }
            a#dt-linkedin-link {
                position: absolute;
                font-family: 'opensans_light';
                font-size: 1.5vw;
                color: #333;
                bottom: -44vh;
                left: 7vw;
            }
        }
        #dt-about-light {
            position: absolute;
            left: 16vw;
            height: 48vw;
            top: -1vw;
            z-index: 0;
            transform-origin: top center;
            transform: rotate(0deg);
        }
        
        .navbar-bottom {
            background: black;
            height: 6vw;
            bottom: 0vw;
            width: 100vw;
            position: absolute;
            
            .nav-buttons {
                height: inherit;
                padding-left: 6.5vw;
                list-style: none;
                display: inline-flex;
                font-size: 2vw;
                font-family: 'goldsaber';
                
                a.nav-item {
                    list-style: none;
                    padding: 1.5vw;
                    margin-right: 2vw;
                    text-decoration: none;
                    cursor: pointer;
                    color: white;
                    
                    &:hover li {
                        color: #B35464;
                        transition: color 0.3s ease;
                    }
                    
                    li {
                        color: #393748;
                    }
                }
            }
    
            #nav-down {
                position: absolute;
                left: 48vw;
                top: 0.5vw;
                transform: rotate(180deg);
                height: 5vw;
                // margin-left: 15vw;
                // margin-top: 0.5vw;
                opacity: 0.6;
            }
        }
        
        #batman-lounge {
            display: none;
            position: absolute;
            height: 22vw;
            right: 6vw;
            bottom: 5vw;
        }
        
        #nav-left {
            position: absolute;
            transform: rotate(-90deg);
            height: 5vw;
            left: 5vw;
            top: 5vw;
            opacity: 0.7;
        }
    }
}

@keyframes swingLight {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(10deg); }
}

.swing-light {
    animation: swingLight 6s infinite ease-in-out;
}