html, body, #hoot-mobile {
    height: 100%;
}

#hoot-desktop {
    display: block;
}
#hoot-mobile {
    display: none;
}

footer {
    width: 100vw;
    background: #333;
    color: white;
    text-align: center;
    
    #footer-text {
        margin: 0;
        font-family: 'opensans_light';
        padding: 5vw 0;
        text-transform: uppercase;
        font-size: 4vw;
    }
}

.disable-click{
    pointer-events: none;
}

.activated {
    font-family: fantasy;
}

.room-fixed {
    left: 0;
}


#alert-wrapper {
    position: relative;
    top: 15vw;
    left: 6vw;
    
    .alert {
        position: absolute !important;
        font-size: 4vw !important;
        width: 81vw !important;
        bottom: -41vw !important;
        z-index: 9999 !important;
        left: 0vw !important;
        height: 19vw !important;
        font-family: 'opensans_bold' !important;
        color: #333333 !important;
        box-shadow: 1vw 1vw 3vw -1vw rgba(0,0,0,0.4) !important;
    }
}
.alert-dismissable .close, .alert-dismissible .close {
    position: absolute !important;
    top: 3vw !important;
    right: 6vw !important;
    color: inherit !important;
    z-index: 9999 !important;
    transform: scale(4) !important;
}


@media screen and (min-width: 5px) and (orientation: portrait) {
    #hoot-desktop {
        display: none;
    }
    #hoot-mobile {
        display: block;
    }
}


@media screen and (min-width: 768px) and (orientation: landscape) {
    #alert-wrapper .alert {
        position: absolute !important;
        font-size: 3vw !important;
        width: 57vw !important;
        z-index: 9999 !important;
        top: -6vw !important;
        left: 0vw !important;
        height: 11vw !important;
        font-family: 'opensans_light' !important;
        color: #333333 !important;
        box-shadow: 1vw 1vw 3vw -1vw rgba(0, 0, 0, 0.4) !important;
    }
}