.contact-wrapper {
    background: black;
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100vh;
    z-index: 2;
    
    .contact-section {
        position: relative;
        
        #nav-down {
            position: absolute;
            top: 24vw;
            left: 47vw;
        }
        
        #nav-up {
            position: absolute;
            left: 47vw;
            top: 0vw;
            height: 6vw;
            transition: all 0.5s ease;
            
            &:hover {
                transform: rotate(-540deg);
            }
        }
    }
}



