.navbar-bottom {
    position: fixed;
    background: black;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999;
    height: 6vw;
    
    .nav-buttons {
        position: relative;
        padding: 0;
        
        .nav-item-1 {
            position: absolute;
            left: 8vw;
            font-family: 'opensans_bold';
            text-transform: uppercase;
            font-size: 2vw;
            list-style-type: none;
            top: 1.3vw;
            color: white;
        }
        
        .nav-item-2 {
            position: absolute;
            left: 20vw;
            font-family: 'opensans_bold';
            text-transform: uppercase;
            font-size: 2vw;
            list-style-type: none;
            top: 1.3vw;
            color: white;
        }
        
        .nav-item-3 {
            position: absolute;
            left: 35vw;
            font-family: 'opensans_bold';
            text-transform: uppercase;
            font-size: 2vw;
            list-style-type: none;
            top: 1.3vw;
            color: white;
        }
        
        img#nav-up {
            position: absolute;
            left: 50vw;
            transform: rotate(180deg);
            transition: all 0.5s ease;
            top: 0vw;
            height: 6vw;
            opacity: 1;
            visibility: visible;
            
            &:hover {
                transform: rotate(720deg);
            }
        }
    }
}