.room-wrapper {
    position: fixed;
    z-index: 1;
    height: 100vh;
    background: #585454;
    left: 100vw;
    
    .room-filler {
        position: relative;
        height: inherit;
        width: 100vw;
        
        #dt-room-picframe {
            position: absolute;
            height: 16vw;
            top: 13vw;
            left: 57vw;
        }
        #dt-room-light {
            position: absolute;
            height: 36vw;
            left: 28vw;
            top: 0;
        }
        #dt-door {
            position: absolute;
            height: 25vw;
            left: 74vw;
            bottom: 10vw;
        }
        #dt-window {
            position: absolute;
            height: 11vw;
            bottom: 24vw;
            left: 17vw;
        }
        #dt-floor {
            position: absolute;
            width: 100vw;
            left: 0;
            bottom: 0vw;
        }
        #dt-roof {
            position: absolute;
            width: 100vw;
            top: 0vw;
            left: 0;
        }
        #dt-skirting {
            position: absolute;
            width: 100vw;
            left: 0;
            bottom: 9.5vw;
        }
        #dt-room-eye {
            position: absolute;
            bottom: 26vw;
            left: 23.5vw;
            height: 0.8vw;
        }
    }
}