// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-wrapper {
    position: fixed;
    width: 100%;
    left: 0vw;
    z-index: 999;
    background: black;

    .hero-section {
      background: #BCE3FF;
      height: 100vh;
      position: relative;
      
      #desktop-logo {
        position: absolute;
        bottom: 19vw;
        height: 14vw;
        left: 9vw;
      }
        
        #hero-text {
          position: absolute;
          font-family: 'opensans_light';
          color: black;
          text-transform: uppercase;
          bottom: 15vw;
          left: 9vw;
          font-size: 2.5vw;
        }
        
        #batman-computer {
          position: absolute;
          height: 23vw;
          right: 2vw;
          bottom: 7vw;
        }
    }
}

.on-home {
  // for querying if on home page only
}

.off-home {
  // for querying if on home page only
}
#nav-right {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: center right;
    height: 6vw;
    right: 7vw;
    top: 7vw;
    opacity: 0.7;
}
#nav-right:hover {
    cursor: pointer;
    animation: anti-wiggle 1s ease-in-out;
}
#nav-right:hover:after {
    animation: wiggle 1s ease-in-out;
}
@keyframes wiggle {
  20% {
    // box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(97deg);
  }
  
  40% {
    // box-shadow:  inset -11px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(74deg);
  }
  
  60% {
    // box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(94deg);
  }
  
  80% {
    // box-shadow:  inset -8px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(88deg);
  }
  
  100% {
    // box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(90deg);
  }
}
@keyframes anti-wiggle {
  20% {
    transform: translateX(4px) rotate(83deg);
  }
  
  40% {
    transform: translateX(-8px)  rotate(104deg);
  }
  
  60% {
    transform: translateX(2px)  rotate(86deg);
  }
  
  80% {
    transform: translateX(-1px)  rotate(92deg);
  }
  
  100% {
    transform: translateX(0px) rotate(90deg);
  }
}
